<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="club.szuai.signin.dbmapper.TeacherMapper">
    <resultMap id="BaseResultMap" type="club.szuai.signin.bean.Teacher">
        <id column="teacher_id" property="teacherId" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="INTEGER"/>
        <result column="class_ids" property="classIds" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    teacher_id, name, password, create_time, class_ids
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_teacher_list
        where teacher_id = #{teacherId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_teacher_list
    where teacher_id = #{teacherId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="club.szuai.signin.bean.Teacher">
    insert into t_teacher_list (teacher_id, name, password, 
      create_time, class_ids)
    values (#{teacherId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, MD5(#{password,jdbcType=VARCHAR}),
      #{createTime,jdbcType=INTEGER}, #{classIds,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="club.szuai.signin.bean.Teacher">
        insert into t_teacher_list
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="teacherId != null">
                teacher_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="classIds != null">
                class_ids,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="teacherId != null">
                #{teacherId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=INTEGER},
            </if>
            <if test="classIds != null">
                #{classIds,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="club.szuai.signin.bean.Teacher">
        update t_teacher_list
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = MD5(#{password,jdbcType=VARCHAR}),
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=INTEGER},
            </if>
            <if test="classIds != null">
                class_ids = #{classIds,jdbcType=VARCHAR},
            </if>
        </set>
        where teacher_id = #{teacherId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="club.szuai.signin.bean.Teacher">
    update t_teacher_list
    set name = #{name,jdbcType=VARCHAR},
      password = MD5(#{password,jdbcType=VARCHAR}),
      create_time = #{createTime,jdbcType=INTEGER},
      class_ids = #{classIds,jdbcType=VARCHAR}
    where teacher_id = #{teacherId,jdbcType=INTEGER}
  </update>
    <select id="getList" resultMap="BaseResultMap">
        SELECT * FROM t_teacher_list
        ORDER BY `teacher_id` DESC
        <if test="null != limit">LIMIT #{limit}</if>
    </select>
    <select id="selectByIdAndPassword" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List"/>
        from t_teacher_list
        where teacher_id = #{teacherId,jdbcType=INTEGER} and password = MD5( #{password,jdbcType=VARCHAR})
    </select>
</mapper>