* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background: #fff url(../images/bg.png) 50% 50% no-repeat;
    background-size: cover;
}

label {
    font-size: 18px;
    color: #fff;
}

.login {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 430px;
    height: 550px;
    margin: -300px 0 0 -215px;
    border: 1px solid #fff;
    border-radius: 20px;
    overflow: hidden;
}

.logo {
    width: 104px;
    height: 104px;
    margin: 50px auto 80px;
    background: url(../images/login.png) 0 0 no-repeat;
}

.checkbox p {
    color: #fff;
    font-size: 16px;
    text-align: center;
    margin-bottom: 3%;
}

.form-item {
    position: relative;
    width: 360px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.form-item input {
    width: 288px;
    height: 48px;
    padding-left: 70px;
    border: 1px solid #fff;
    border-radius: 25px;
    font-size: 18px;
    color: #fff;
    background-color: transparent;
    outline: none;
}

.form-item button {
    width: 360px;
    height: 50px;
    border: 0;
    border-radius: 25px;
    font-size: 22px;
    font-weight: 500;
    color: #1f6f4a;
    outline: none;
    cursor: pointer;
    background-color: #fff;
}

#username {
    background: url(../images/user.png) 20px 7px no-repeat;
}

#password {
    background: url(../images/password.png) 23px 11px no-repeat;
}

.tip {
    position: absolute;
    left: 20px;
    top: 52px;
    font-size: 14px;
    color: #f50;
}

.reg-bar {
    width: 360px;
    margin: 5px auto 0;
    font-size: 14px;
    overflow: hidden;
    text-align: center;
}

.reg-bar span {
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 14px
}

.login ::-webkit-input-placeholder {
    font-size: 18px;
    line-height: 1.4;
    color: #fff;
}

.login :-moz-placeholder {
    font-size: 18px;
    line-height: 1.4;
    color: #fff;
}

.login ::-moz-placeholder {
    font-size: 18px;
    line-height: 1.4;
    color: #fff;
}

.login :-ms-input-placeholder {
    font-size: 18px;
    line-height: 1.4;
    color: #fff;
}

@media screen and (max-width: 500px) {
    * {
        box-sizing: border-box;
    }

    .login {
        position: static;
        width: auto;
        height: auto;
        margin: 0 30px;
        border: 0;
        border-radius: 0;
    }

    .logo {
        margin: 50px auto;
    }

    .form-item {
        width: auto;
    }

    .form-item input, .form-item button, .reg-bar {
        width: 100%;
    }
}